// Write overrides above the bootsrap imports

$font-family-sans-serif: Metropolis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary: #0985FA;
$gray-600: #A2A1A2;
$hr-border-color: rgba($gray-600, .2);

@import "~bootstrap/scss/bootstrap.scss";

.nav-link {
  font-weight: 600;
  letter-spacing: -0.05rem;
}

.form-control {
  letter-spacing: -0.02rem;
}
