NODE_ENV=test
MONGO_DB_URI=mongodb://localhost:27017/tranquill_test
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:8080
JWT_SECRET=GENERATE_A_512_BIT_STRING
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_DB=1
